* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  @font-face {
    font-family: electronicFont;
    src: url(../font/DS-DIGIT.TTF);
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
    background: url(../images/bg2.jpg) no-repeat #000;
    background-size: cover;
    /* 行高是字体1.15倍 */
    line-height: 1.15;
        /* overflow: hidden; */
  }
  
  header {
    position: relative;
    height: 1.25rem;
    background: url(../images/head_bg1.png) no-repeat top center;
    background-size: 100% 100%;
  
  }
  
  header h1 {
    font-size: 0.475rem;
    color: #fff;
    text-align: center;
    line-height: 1rem;
  }
  
  header .showTime {
    position: absolute;
    top: 0;
    left: 0.375rem;
    line-height: 0.9375rem;
    font-size: 0.25rem;
    color: rgba(255, 255, 255, 0.7);
  }
  
  header .bnt {
    position: absolute;
    top: 0rem;
    right: 0.375rem;
  }
  
  header .bnt ul {
    display: flex;
  }
  
  header .bnt ul li {
    position: relative;
    top:0.2rem;
    border:1px solid rgb(78,110,242);
    border-radius:8px;
    background-color: rgb(78,110,242);
    text-align: center;
    font-size: 0.18rem;
    color: #ffffff;
    padding: 0.1rem 0.25rem;
    margin-left: 0.45rem;
    font-family: electronicFont;
    /* background:url(../images/bnt.png)  rgba(44, 135, 209, 0.6) no-repeat center; */
    /* background-size:100% 100%; */
  
  }
  
  header .bnt ul li a {
    color: white;
    text-decoration: none
  }

  .mainbox {
    min-width: 1080px;
    max-width: 1920px;
    padding: 0.125rem 0.125rem 0;
  }
  
  .mainbox .condition {
    width: 96%;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.18);
  }

  .mainbox .result {
    height: 10.8rem;
    width: 100%;
    display: flex;
  }

  .mainbox .result .column {
    flex: 2;
  }
  
  .mainbox .result .column:nth-child(2) {
    flex: 5;
    margin: 0.5rem 0.75rem;
    background: url(../images/biankuang61.png) no-repeat;
    background-size: 100% 100%;
    padding: 0.4rem 0.4rem;
  }