.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.5);
}
.modal-content{
    background-color: #f4f4f4;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 0.1875rem;
    margin: 10% auto;
    width: 45%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0,0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}
.modal-header h2,.modal-footer h3{
    margin: 0;
}
.modal-header{
    border: 1px solid rgb(78, 110, 242);
    border-radius: 0.1875rem 0.1875rem 0 0;
    background-color: rgb(78, 110, 242);
    padding: 15px;
    color: #fff;
}
.closeBtn{
    color: #fff;
    float: right;
    font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body{
    padding:10px 20px; 
    
}

.modal-body form{
    color: black;
    margin-bottom: 0.1875rem;
    margin-left: 2.7rem;
    text-align: left;
    font-size: 0.25rem;
}

.modal-footer{
    color: #fff;
    background-color: coral;
    padding: 10px;
    text-align: center;
}

#modal-ul{
    margin-top: 0.21rem;
    margin-bottom: 0.21rem;
    margin-left: 2.7rem;
    text-align: left;
    font-size: 0.25rem;
    color: #000000;
}

#modal-ul li{
    margin: 0.21rem 0;
}

input[type=text]{
    height:0.5rem;
    font-size: 0.25rem;
}

.handle{
    width:100%;
    height: 0.875rem;
    padding: 0.0625rem 2.7rem;;
}

.modal-body textarea{
    height: 0.3375rem;
    width: 4rem;
    font-size: 0.25rem;
    
    /* margin-bottom: 0.0875rem; */
}

.modal-body label{
    display: inline-block;
    height: 0.3375rem;
    font-size: 0.25rem;
    margin-bottom: 0.0875rem;
    
}

.modal-body button{
    width: 1.125rem;
    height: 0.56rem;
    margin-left: 0.55rem;
    border: 1px solid rgb(78, 110, 242);
    border-radius: 8px;
    background-color: rgb(78, 110, 242);
    text-align: center;
    font-size: 0.23rem;
    color: #ffffff;
}

@keyframes modalopen{
    from {opacity: 0}
    to {opacity: 1}
}